<div class="container">
  <h1>ブログ詳細画面</h1>
    <article>
      <table class="row">
        <th>タイトル</th>
        <th>内容</th>
        
        <tr>
          <td class="col-xs-12 col-md-6"><%= @blog.title %></td>
          <td class="col-xs-12 col-md-6"><%= @blog.content %></td>
        </tr>
      </table>
    </article>
  </div>
</div>