html{
  min-height: 100%;
  position: relative;
  font-size: 100%;
  line-height: 1.15;
}

footer, header, nav, section {
  display: block;
}

body {
    font-size: 100%;
    margin-bottom: 5em;
}

.top_logo p {
    margin: 30px;
    float: left;
}

.top_logo a {
    color: #fff;
    text-decoration: none;
}

.top_logo a:hover {
    color: #404040;
}

p {
    color: #404040;
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.question {
    text-decoration: underline;
}

.li{
    list-style: none;
    padding-bottom: 10px;
    text-align: left;
}

.ul{
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #6699CC;
    height: 80px;
    z-index: 10;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #6699CC;
    color: #FFF;
}

.footer_content {
    display: block;
    text-align: center;
}

.container{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 0px;
}

article{
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  border: solid 1px #fff;
}

tr {
    height: 40px;
}

th{
    width: 80%;
    text-align: center;
}

td{
    width: 80%;
    text-align: left;
    padding-left: 10px;
}