html{
  min-height: 100%;
  position: relative;
  font-size: 100%;
  line-height: 1.15;
}

footer, nav, section {
  display: block;
}

body {
    font-size: 100%;
    margin-bottom: 5em;
}

p {
    color: #404040;
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.question {
    text-decoration: underline;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #6699CC;
    color: #FFF;
}

.footer_content {
    display: block;
    text-align: center;
}

.container{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 0px;
}

.row-height{
    height: 500px;
}

article{
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #fff;
}

tr {
    height: 40px;
}

td{
    width: 80%;
    text-align: left;
    padding-left: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}